html, body{
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  width: 1280px;
  height: 1024px;
  border: 1px solid black;
}


#nav{
  position: absolute;
  top: 945px;
  display: block;
  z-index: 1000;
  height:80px;
  width: 1280px;
  text-align: center;
}

.nav-a{
  padding-left: 12px;
  display: inline;
}

.nav-a-img{
  display: inline-block;
  background-color: black;
  width: 80px;
  height: 80px;
}


#map{
  width: 1280px;
  height: 1024px;
  background-color: gray;
}

#map-image{
  position: absolute;
//  left: -1300px;
//  top: -4500px;
//  width: 100%;
}
