html, body{
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  width: 1280px;
  height: 1024px;
  border: 1px solid black;
  font-size: 10px;
  font-family: Uni;
}

@font-face{
  font-family: Uni;
  src: url('../fonts/Unibody8Pro-Bold.otf');
}

#nav{
  position: absolute;
  top: 915px;
  display: inline-block;
  z-index: 1000;
  height:110px;
  width: 1280px;
  text-align:center;

}

a{
  text-decoration: none;
  color: black;
  cursor: pointer;
}

.nav-a{
  padding-right: 16px;
  display: inline-block;
}

.nav-a-img{
  display: inline-block;
  width: 110px;
  height: 110px;
}

.one{
  background-color: #022440;
}

.two{
  background-color: #074087;
}

.three{
  background-color: #0B66FE;
}

.level-one{
  z-index:1;
}

.level-two{
  z-index:2;
}

.level-three{
  z-index:3;
}

.more-levels{
  position:absolute;
  top:0px;
}

.pop{
  position: absolute;
  left: 777.6px;
  top: 131px;
  background-color: #0B66FE;
  width: 372.8px;
  height: 553px;
  z-index: 4;
}

.pop-search{
  font-size: 20px;
  margin: 15px;
  width: 300px;
  height: 30px;
  background-color: white;
}

.pop-result{
  line-height: 30px;
  font-size: 14px;
  margin: 0px 15px 15px;
  width: 300px;
  height: 350px;
  background-color: white;
  overflow: scroll;
}

.pop-buttons{
  margin: 0px 15px 15px;
  width: 339.557px;
  height: 110px;
  color:white;
}

.pop-choose{
  font-size:24px;
  margin: 0px 15px 15px 0px;
}

.tower, .floor{
  line-height: 24px;
}

.alphabet{
  line-height: 32px;
}

#map{
  width: 1280px;
  height: 1024px;
  overflow: hidden;
}

#map-image{
  position: absolute;

//  left: -2800px;
//  top: -1700px;


/************INICIAL LOCATION***************/
    left: -250px;
    top: -2500px;
}

#location {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  z-index: 1000;

}

#location span{
  background-color:white;
  padding: 10px;
}


#sala_D11, #sala_D14, #sala_D15, #sala_D16, #sala_D17, #sala_D18, #sala_D19, #sala_D110, #sala_D111, #sala_D112, #sala_D113, #sala_D114, #sala_D115,
#sala_D116, #sala_D117, #sala_D118, #sala_D119, #sala_F11, #sala_F12, #sala_F14, #servicos, #gabinetes {
  display:none;
}
