html, body{
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  width: 1280px;
  height: 1024px;
  overflow: hidden;
}

#nav{
  display: block;
  position: absolute;
  z-index: 1000;
  background-position: red;
  height:80px;
  width: 100%;
  text-align: center;
}

.nav-a{
  padding-left: 12px;
  display: inline;
}

.nav-a-img{
  display: inline-block;
  background-color: black;
  width: 80px;
  height: 80px;
}

#map-image{
  position:absolute;
  top: -2400px;
  left: 0px;
}
